#banner-section {
    background-color: $color_blue;
    padding: 2rem 0;

    .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    }

    figure {
    display: flex;
        img{
        width: 2rem;
        object-fit: contain;
        }
        figcaption{
        align-self: center;
        margin-left: 1rem;
        text-transform: capitalize;
            a {
            color: #FFF;
            }
        }
    }
}
