header {
    nav {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;

        img {
        max-height: 4rem;
        }

    }

    #nav-links {
    ul {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    li {
        color: #000;
        padding-right:  1rem;
        cursor: pointer;
        text-align: center;  
        
    }
    a {
        font-weight: 500;
        padding-bottom: 2.4rem;
        
        &:hover,
        &.active{
            border-bottom: 3px solid $color_blue;
            color: $color_blue;
        }}

        }
    }
