* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  color: #FFF;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
header nav img {
  max-height: 4rem;
}
header #nav-links ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #nav-links li {
  color: #000;
  padding-right: 1rem;
  cursor: pointer;
  text-align: center;
}
header #nav-links a {
  font-weight: 500;
  padding-bottom: 2.4rem;
}
header #nav-links a:hover, header #nav-links a.active {
  border-bottom: 3px solid #1E82F6;
  color: #1E82F6;
}

main {
  background-color: #1C1C1C;
}
main #background {
  height: 400px;
  background-image: url(../images/jumbotron.jpg);
  background-position: top;
  position: relative;
}
main #background #current-series {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
  background-color: #1E82F6;
  position: absolute;
  bottom: -20px;
  left: 120px;
}
main .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
}
main .comic-card,
main .comic-card-price {
  flex-basis: calc(16.6666666667% - 20px);
  padding-bottom: 50px;
}
main .comic-card img,
main .comic-card-price img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 0%;
     object-position: 0% 0%;
}
main .comic-card figcaption,
main .comic-card-price figcaption {
  text-transform: capitalize;
}
main .comic-card-price figure {
  position: relative;
}
main .comic-card-price figure .price {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: transparent;
}
main .comic-card-price figure:hover {
  cursor: pointer;
}
main .comic-card-price figure:hover .price {
  color: red;
  font-weight: 900;
  text-shadow: 1px 1px 4px #fff;
}
main .comic-card-price figure:hover img {
  filter: grayscale(100%);
}

#banner-section {
  background-color: #1E82F6;
  padding: 2rem 0;
}
#banner-section .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#banner-section figure {
  display: flex;
}
#banner-section figure img {
  width: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
#banner-section figure figcaption {
  align-self: center;
  margin-left: 1rem;
  text-transform: capitalize;
}
#banner-section figure figcaption a {
  color: #FFF;
}

/* FOOTER TOP */
#footer-top {
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
  text-align: center;
  position: relative;
}
#footer-top .container {
  display: flex;
  flex-wrap: wrap;
}
#footer-top .container .list-column {
  padding-left: 3rem;
}
#footer-top .container .list-column h4 {
  font-size: 1.2rem;
  padding-bottom: 0.4rem;
  text-align: start;
}
#footer-top .container .list-column ul {
  padding: 0;
}
#footer-top .container .list-column ul li {
  font-size: 1rem;
  font-weight: lighter;
  text-align: start;
  padding: 0.2rem 0;
}

#background-logo {
  max-height: 350px;
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
}

/* FOOTER BOTTOM */
#footer-bottom {
  height: 100px;
  background-color: #303030;
}
#footer-bottom .container {
  height: 100%;
}
#footer-bottom .container #sign-up {
  padding: 0.5rem;
  border: 1px solid #1E82F6;
  cursor: pointer;
  color: #FFF;
}
#footer-bottom nav #follow-us {
  color: #1E82F6;
}
#footer-bottom nav li {
  margin-left: 1rem;
}
#footer-bottom nav img {
  max-width: 1.5rem;
}

#footer-bottom .container,
#footer-bottom nav,
#footer-bottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}